//Section 1
@mixin welcome-title($fs-welcome) {
    font: {
        size: $fs-welcome;
    }
}

@mixin section1($fs-welcome) {
    #section1 {
        #welcome-title {
            @include welcome-title($fs-welcome);
        }
    }
}

//Section 2
@mixin music-title($fs-music-title) {
    font: {
        size: $fs-music-title;
    }
}

@mixin section2($fs-music-title) {
    #section2 {
        #slide-2-1 {
            #music-title1 {
                @include music-title($fs-music-title);
            }
        }
    
        #slide-2-2 {
            #music-title2 {
                @include music-title($fs-music-title);
            }
        }
    
        #slide-2-3 {
            #music-title3 {
                @include music-title($fs-music-title);
            }
        }
    }
}

//Section 3
@mixin ad-video($ad-width) {
    width: $ad-width;
}

@mixin music-slide($flex-d, $ad-width) {
    .ad-bg {
        display: none;
    }

    .ad-wrapper {
        flex-direction: $flex-d;
        justify-content: center !important;
        align-items: center !important;

        .ad-video {
            @include ad-video($ad-width);
        }

        .ad-text-wrapper {
            margin: 0;

            .ad-title {
                text-align: center !important;
                font-size: 2rem !important;

                .ad-image {
                    height: 40px !important;
                    width: auto;
                }
            }

            .ad-text {
                text-align: center !important;
                font-size: 1.1rem !important;
                margin-bottom: 30px !important;
            }
        }
    }
}

@mixin section3($ad-width) {
    #section3 {
        #slide-3-1 {
            @include music-slide(column-reverse, $ad-width);
        }
        #slide-3-2 {
            @include music-slide(column, $ad-width);
        }
        #slide-3-3 {
            @include music-slide(column-reverse, $ad-width);
        }
    }
}

//Section 4
@mixin section4($content-url1, $content-url2) {
    #section4 {
        .yt-slide {
            #yt-bg1 {
                content: url($content-url1);
            }
    
            #yt-bg2 {
                content: url($content-url2);
            }

            .yt-wrapper {
                .yt-title {
                    font-size: 1.25rem;
                }

                .yt-link {
                    font-size: 1rem;
                }
            }
        }
    }
}

//Fullpage wrapper
@mixin fullpage-wrapper($welcome-title, $music-title, $ad-width, $content-url1, $content-url2) {
    #fullpage-wrapper {
        @include section1($welcome-title);
        @include section2($music-title);
        @include section3($ad-width);
        @include section4($content-url1, $content-url2);
    }
}

//Body
@mixin body($fs-welcome, $fs-music-title, $ad-width, $content-url1, $content-url2) {
    @include fullpage-wrapper($fs-welcome, $fs-music-title, $ad-width, $content-url1, $content-url2);
}

//Media
@media screen and (max-width:1600px) {
    body {
        @include body(5rem, 1rem, 720px !important, '../images/yt-images/yt-bg1.jpg', '../images/yt-images/yt-bg2.jpg'); //$fs-welcome, $fs-music-title, $ad-width
    }
}

@media screen and (max-width:1200px) {
    body {
        @include body(5rem, 1rem, 480px !important, '../images/yt-images/yt-bg1.jpg', '../images/yt-images/yt-bg2.jpg'); //$fs-welcome, $fs-music-title, $ad-width
    }
}

@media screen and (max-width:767px) {
    body {
        @include body(5rem, 1rem, 360px !important, '../images/yt-images/yt-bg1-mobile.jpg', '../images/yt-images/yt-bg2-mobile.jpg'); //$fs-welcome, $fs-music-title, $ad-width
    }
}

@media screen and (max-width:400px) {
    body {
        @include body(5rem, 1rem, 240px !important, '../images/yt-images/yt-bg1-mobile.jpg', '../images/yt-images/yt-bg2-mobile.jpg'); //$fs-welcome, $fs-music-title, $ad-width
    }
}
