//Section 1
@mixin welcome-title($fs-welcome) {
    font: {
        size: $fs-welcome;
    }
}

@mixin section1($fs-welcome) {
    #section1 {
        #welcome-title {
            @include welcome-title($fs-welcome);
        }
    }
}

//Section 2
@mixin music-title($fs-music-title) {
    font: {
        size: $fs-music-title;
    }
}

@mixin music-link-svg($music-width, $music-height) {
    width: $music-width;
    height: $music-height;
}

@mixin music-link($music-width, $music-height) {
    margin: 15px 0;
    
    svg {
        @include music-link-svg($music-width, $music-height);
    }
}

@mixin section2($fs-music-title, $music-width, $music-height) {
    #section2 {
        #slide-2-1 {
            #music-title1 {
                @include music-title($fs-music-title);
            }

            #music-link1 {
                @include music-link($music-width, $music-height);
            }
        }
    
        #slide-2-2 {
            #music-title2 {
                @include music-title($fs-music-title);
            }

            #music-link2 {
                @include music-link($music-width, $music-height);
            }
        }
    
        #slide-2-3 {
            #music-title3 {
                @include music-title($fs-music-title);
            }

            #music-link3 {
                @include music-link($music-width, $music-height);
            }
        }
    }
}

//Section 3
@mixin corpo-video($corpo-width) {
    width: $corpo-width;
}

@mixin corpo-slide($flex-d, $corpo-width) {
    .corpo-wrapper {
        height: 90vh;
        margin: auto;
        flex-direction: $flex-d;
        justify-content: center !important;
        align-items: center !important;

        .corpo-video {
            @include corpo-video($corpo-width);
        }

        .corpo-text-wrapper {
            margin: 0;

            .corpo-title {
                text-align: center !important;
                font-size: 2rem !important;

                .corpo-image {
                    height: 40px !important;
                    width: auto;
                }
            }

            .corpo-text {
                text-align: center !important;
                font-size: 1rem !important;
                margin-bottom: 30px !important;
            }
        }
    }
}

@mixin section3($corpo-width) {
    #section3 {
        #slide-3-1 {
            @include corpo-slide(column-reverse, $corpo-width);
        }
        #slide-3-2 {
            @include corpo-slide(column, $corpo-width);
        }
        #slide-3-3 {
            @include corpo-slide(column-reverse, $corpo-width);
        }
    }
}

//Section 4
@mixin section4($content-url1, $content-url2) {
    #section4 {
        .yt-slide {
            #yt-bg1 {
                content: url($content-url1);
            }
    
            #yt-bg2 {
                content: url($content-url2);
            }

            .yt-wrapper {
                .yt-title {
                    font-size: 1.25rem;
                }

                .yt-link {
                    font-size: 1rem;
                }
            }
        }
    }
}

//Section 6
@mixin footer-p {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    margin: 2.5px 0;
}

@mixin contact-links-svg($contact-width, $contact-height) {
    width: $contact-width;
    height: $contact-height;
}

@mixin social-svg-wrapper($contact-width, $contact-height) {
    svg {
        @include contact-links-svg($contact-width, $contact-height);
    }
}

@mixin section6($img-size, $title-size, $contact-width, $contact-height) {
    #section6 {
        .contact-wrapper {
            #contact-image {
                height: $img-size;
                width: auto;
            }

            #contact-title {
                font-size: $title-size;
                margin: 10px 0;
            }

            #contact-social-wrapper {
                #social-svg-wrapper1 {
                    @include social-svg-wrapper($contact-width, $contact-height);
                }

                #social-svg-wrapper2 {
                    @include social-svg-wrapper(calc($contact-width / 1.098), calc($contact-height / 1.098));
                }

                #social-svg-wrapper3 {
                    @include social-svg-wrapper(calc($contact-width / 1.037), calc($contact-height / 1.037));
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
    
            #footer-credits, #footer-copy {
                @include footer-p();
            }

            #footer-address {
                display: none;
            }
        }
    }
}

//Fullpage wrapper
@mixin fullpage-wrapper($welcome-title, $music-title, $music-width, $music-height, $corpo-width, $content-url1, 
$content-url2, $img-size, $title-size, $contact-width, $contact-height) {
    #fullpage-wrapper {
        @include section1($welcome-title);
        @include section2($music-title, $music-width, $music-height);
        @include section3($corpo-width);
        @include section4($content-url1, $content-url2);
        @include section6($img-size, $title-size, $contact-width, $contact-height);
    }
}

//Body
@mixin body($arrow-display, $nav-display, $nav-ff-size, $fs-welcome, $fs-music-title, $music-width, $music-height, $corpo-width, $content-url1, 
$content-url2, $img-size, $title-size, $contact-width, $contact-height) {
    .fp-arrow.fp-prev, .fp-arrow.fp-next {
        display: $arrow-display;
    }
    #nav-wrapper {
        display: $nav-display;
        padding: 15px 0;

        nav {
            #nav-ul {
                .nav-li {
                    .nav-a {
                        font-size: $nav-ff-size
                    }
                }
            }
        }
    }
    
    @include fullpage-wrapper($fs-welcome, $fs-music-title, $music-width, $music-height, $corpo-width, $content-url1, 
    $content-url2, $img-size, $title-size, $contact-width, $contact-height);
}

//Media
@media screen and (max-width:1600px) {
    body {
        @include body(block, block, 1rem, 5rem, 1rem, 64px, 44px, 720px !important, '../images/yt-images/yt-bg1.jpg', 
        '../images/yt-images/yt-bg2.jpg', 125px, 2rem, 56px, 56px);
    }
}

@media screen and (max-width:1200px) {
    body {
        @include body(block, block, .75rem, 5rem, 1rem, 64px, 44px, 480px !important, '../images/yt-images/yt-bg1.jpg', 
        '../images/yt-images/yt-bg2.jpg', 75px, 1rem, 42px, 42px);
    }
}

@media screen and (max-width:767px) {
    body {
        @include body(none, none, 1rem, 5rem, 1rem, 48px, 33px, 360px !important, '../images/yt-images/yt-bg1-mobile.jpg', 
        '../images/yt-images/yt-bg2-mobile.jpg', 75px, 1rem, 42px, 42px);
    }
}

@media screen and (max-width:400px) {
    body {
        @include body(none, none, 1rem, 5rem, 1rem, 48px, 33px, 240px !important, '../images/yt-images/yt-bg1-mobile.jpg', 
        '../images/yt-images/yt-bg2-mobile.jpg', 75px, 1rem, 42px, 42px);
    }
}

//Media for Corpo section, when user's screen is on landscape orientation
@media screen and (orientation: landscape) and (max-height: 500px) {
    body {
        #fullpage-wrapper {
            #section3 {
                .corpo-wrapper {
                    .corpo-text-wrapper {
                        margin: 0;

                        .corpo-title {
                            display: none;
                        }
                        
                        .corpo-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}