@media screen and (max-width: 1600px) {
  body #fullpage-wrapper #section1 #welcome-title {
    font-size: 5rem;
  }
  body #fullpage-wrapper #section2 #slide-2-1 #music-title1 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-2 #music-title2 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-3 #music-title3 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-video {
    width: 720px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-video {
    width: 720px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-video {
    width: 720px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg1 {
    content: url("../images/yt-images/yt-bg1.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg2 {
    content: url("../images/yt-images/yt-bg2.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-title {
    font-size: 1.25rem;
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-link {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-image {
    height: 125px;
    width: auto;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-title {
    font-size: 2rem;
  }
  body #fullpage-wrapper #section6 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-credits, body #fullpage-wrapper #section6 .footer #footer-copy {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    margin: 2.5px 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-address {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  body #fullpage-wrapper #section1 #welcome-title {
    font-size: 5rem;
  }
  body #fullpage-wrapper #section2 #slide-2-1 #music-title1 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-2 #music-title2 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-3 #music-title3 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-video {
    width: 480px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-video {
    width: 480px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-video {
    width: 480px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg1 {
    content: url("../images/yt-images/yt-bg1.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg2 {
    content: url("../images/yt-images/yt-bg2.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-title {
    font-size: 1.25rem;
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-link {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-image {
    height: 75px;
    width: auto;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-title {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-credits, body #fullpage-wrapper #section6 .footer #footer-copy {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    margin: 2.5px 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-address {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body #fullpage-wrapper #section1 #welcome-title {
    font-size: 5rem;
  }
  body #fullpage-wrapper #section2 #slide-2-1 #music-title1 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-2 #music-title2 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-3 #music-title3 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-video {
    width: 360px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-video {
    width: 360px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-video {
    width: 360px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg1 {
    content: url("../images/yt-images/yt-bg1-mobile.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg2 {
    content: url("../images/yt-images/yt-bg2-mobile.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-title {
    font-size: 1.25rem;
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-link {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-image {
    height: 75px;
    width: auto;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-title {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-credits, body #fullpage-wrapper #section6 .footer #footer-copy {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    margin: 2.5px 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-address {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  body #fullpage-wrapper #section1 #welcome-title {
    font-size: 5rem;
  }
  body #fullpage-wrapper #section2 #slide-2-1 #music-title1 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-2 #music-title2 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section2 #slide-2-3 #music-title3 {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-video {
    width: 240px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-video {
    width: 240px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .ad-bg {
    display: none;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-video {
    width: 240px !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper {
    margin: 0;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title {
    text-align: center !important;
    font-size: 2rem !important;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-title .corpo-image {
    height: 40px !important;
    width: auto;
  }
  body #fullpage-wrapper #section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper .corpo-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    margin-bottom: 30px !important;
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg1 {
    content: url("../images/yt-images/yt-bg1-mobile.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide #yt-bg2 {
    content: url("../images/yt-images/yt-bg2-mobile.jpg");
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-title {
    font-size: 1.25rem;
  }
  body #fullpage-wrapper #section4 .yt-slide .yt-wrapper .yt-link {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-image {
    height: 75px;
    width: auto;
  }
  body #fullpage-wrapper #section6 .contact-wrapper #contact-title {
    font-size: 1rem;
  }
  body #fullpage-wrapper #section6 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-credits, body #fullpage-wrapper #section6 .footer #footer-copy {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    margin: 2.5px 0;
  }
  body #fullpage-wrapper #section6 .footer #footer-address {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */