@media screen and (max-width: 1150px) {
    #music-title1, #music-title2 {
        font-size: 1.75rem;
        letter-spacing: 2.5px;
    }
}

@media screen and (max-width: 850px) {
    #welcome-title {
        font-size: 5rem;
    }
    
    #welcome-title:hover {
        letter-spacing: 0px;
    }

    #music-title1, #music-title2 {
        font-size: 1.25rem;
        letter-spacing: .5px;
    }
}

@media screen and (max-width: 650px) {
    .fp-arrow.fp-prev {
        margin-left: 25px;
    }

    .fp-arrow.fp-next {
        margin-right: 25px;
    }
}