@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Chakra+Petch&display=swap');
@import url('https://fonts.cdnfonts.com/css/a-dripping-marker');

$clrPrimary: #1a1a1a;
$clrSecondary: #fafafa;
$clrAlternative: #ff8f2e;

$ffTitle: 'a dripping marker', sans-serif;
$ffHeader: 'Bad Script', cursive;
$ffText: 'Chakra Petch', sans-serif;

$numOfMusicPages: 3;
$pctOfMusicPages: calc(100% / $numOfMusicPages);
$numOfCorpoPages: 3;
$pctOfCorpoPages: calc(100% / $numOfCorpoPages);
$numOfYtPages: 3;
$pctOfYtPages: calc(100% / $numOfYtPages);

//Used to fade out preloader
.preloader-finish {
    opacity: 0;
    pointer-events: none;
}

/* FullPage.js changes */
.fp-warning,
.fp-watermark {
    display: none;
}

.fp-slidesNav.fp-bottom {
    display: flex;
    justify-content: center;
}

.fp-slidesNav ul li a span {
    background-color: $clrSecondary;
    &:hover {
        transition: all .3s ease;
        background-color: $clrAlternative !important;
    }
}

#fp-nav ul li a span {
    background: $clrSecondary;
    &:hover {
        transition: all .3s ease;
        background: $clrAlternative !important;
    }
}

fp-arrow {
    display: block;
    border: none;
    width: 31px;
    height: 39px;
    cursor: pointer;
    background: url('../images/left-arrow.svg') no-repeat;
    &:hover {
        background: url('../images/left-arrow-hover.svg');
    }
}

.fp-arrow.fp-prev {
    left: 0;
    margin-left: 7.5vw;
    @extend fp-arrow;
}

.fp-arrow.fp-next {
    right: 0;
    margin-right: 7.5vw;
    @extend fp-arrow;
    transform: scaleX(-1);
}

//Document and body changes

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $clrPrimary;

    //Preloader changes
    #preloader {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: $clrPrimary;
        z-index: 1;
        transition: opacity .5s ease;

        //Preloader inner image
        #preloader-inner-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: top left;
        }
    
        //Preloader outer image
        #preloader-outer-img {
            @extend #preloader-inner-img;
            animation: preloader-animation 1.75s infinite;
        }
    
        //Preloader outer image animation
        @keyframes preloader-animation {
            0% {transform: rotate(0turn) translate(-50%, -50%);}
            50% {transform: rotate(.75turn) translate(-50%, -50%);}
            100% {transform: rotate(0turn) translate(-50%, -50%);}
        }
    }

    #nav-icon {
        display: none;
    }

    // Top Nav
    #nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 5px 0;
        background-color: $clrPrimary;
        outline: 1px solid $clrAlternative;
        z-index: 99;

        nav {
            width: 85vw;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            
            #nav-ul {
                #nav-li-img {
                    margin-right: 17.5px;
                }

                list-style: none;
                display: flex;
                justify-content: center;

                .nav-li {
                    margin: 0 17.5px;
                    transform: translateY(25%);

                    .nav-a {
                        color: $clrSecondary;
                        
                        font: {
                            size: 1rem;
                            family: $ffText;
                        }

                        text: {
                            decoration: none;
                            align: center;
                        }

                        &:hover {
                            transition: all .3s ease;
                            color: $clrAlternative;
                        }
                    }
                }
            }

            #social-ul {
                list-style: none;
                display: flex;
                justify-content: center;

                .social-li {
                    margin: 0 5px;
                    transform: translateY(25%);

                    .social-a {
                        text-decoration: none;
                        
                        &:hover > svg path {
                            transition: all .3s ease;
                            fill: $clrAlternative !important;
                        }
                    }
                }
            }
        }
    }

    //Main content
    #fullpage-wrapper {
        display: none;

        @mixin section-wrapper($flex-d) {
            height: 90vh;
            width: 70vw;
            margin: 0 auto;
            display: flex;
            flex-direction: $flex-d;
            justify-content: center;
            align-items: center;
        }

        //Section1 changes
        #section1 {
            background: {
                image: url('../images/welcome/background.jpg');
                position: center;
                size: cover;
                repeat: no-repeat;
            }

            #welcome-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @mixin welcome-text($font-size, $font-family) {
                    color: $clrSecondary;
                    font: {
                        family: $font-family;
                        size: $font-size;
                    }
                    text: {
                        align: center;
                    }
                }

                #welcome-title {
                    @include welcome-text(5rem, $ffTitle);
                    text-shadow: 2px 2px 3px #000000, 2px 2px 3px #000000;
                }

                #welcome-line {
                    @include welcome-text(1rem, $ffText);
                    text-shadow: 2px 2px 3px #000000, 2px 2px 3px #000000;
                }
            }

            #explicit {
                position: absolute;
                top: 90%;
                right: 2%;
            }
        }

        //Section2 changes
        #section2 {
            //A mixin of music videos
            @mixin music-video($left-value) {
                position: absolute;
                top: 0;
                left: $left-value;
                height: 100vh;
                width: 100vw;
                object-fit: cover;
            }

            //A mixin of music titles
            @mixin music-title($left-value, $color-value, $flicker-value) {
                position: absolute;
                width: fit-content;
                top: 50%;
                left: $left-value;
                color: $color-value;
                transform: translate(-50%, -50%);
                text: {
                    align: center;
                    shadow: 0 0 1rem $flicker-value, 0 0 1rem $flicker-value, 2px 2px 4px #000000, 2px 2px 4px #000000, 2px 2px 4px #000000;
                }
                font: {
                    size: 2rem;
                }
                font: {
                    family: 'Bad Script', cursive;
                }
            }

            svg-path {
                    fill: $clrAlternative;
            }

            @mixin music-link($left-value, $clr-value) {
                position: absolute;
                top: 57.5%;
                left: $left-value;
                transform: translate(-50%, -50%);
                transition: all .3s ease;

                &:hover > svg .music-path {
                    transition: all .3s ease;
                    @extend svg-path;
                }
            }

            #slide-2-1 {
                #music-video1 {
                    @include music-video(calc($pctOfMusicPages*0));
                }
                #music-title1 {
                    @include music-title(calc(16.66%*1), #f229d7, #de1dc4);
                }
                #music-link1 {
                    @include music-link(calc(16.66%*1), #f229d7);
                }
            }
            
            #slide-2-2 {
                #music-video2 {
                    @include music-video(calc($pctOfMusicPages*1));
                }
                #music-title2 {
                    @include music-title(calc(16.66%*3), #ff2626, #aa0707);
                }
                #music-link2 {
                    @include music-link(calc(16.66%*3), #ff2626);
                }
            }

            #slide-2-3 {
                #music-video3 {
                    @include music-video(calc($pctOfMusicPages*2));
                }
                #music-title3 {
                    @include music-title(calc(16.66%*5), #1e90ff, #1478cd);
                }
                #music-link3 {
                    @include music-link(calc(16.66%*5), #1e90ff);
                }
            }
        }

        //Section 3
        #section3 {
            @mixin slide-3($bg-url) {
                background-image: url($bg-url);
                background: {
                    position: center;
                    repeat: no-repeat;
                    size: cover;
                }
            }

            @mixin corpo-wrapper($flex-d) {
                @include section-wrapper($flex-d);
            }

            @mixin corpo-image($m-left, $m-right) {
                width: auto;
                height: 65px;
                margin: {
                    left: $m-left;
                    right: $m-right;
                }
            }

            @mixin corpo-text-wrapper($m-top, $m-right, $m-bottom, $m-left) {
                margin: $m-top $m-right $m-bottom $m-left;
            }

            @mixin corpo-title($clr-value, $align-value) {
                color: $clr-value;
                margin: 0 0 20px 0;
                font: {
                    family: $ffHeader;
                    size: 4rem;
                }
                text: {
                    align: $align-value;
                    shadow: 1px 1px 10px $clr-value;
                }
            }

            @mixin corpo-text($align-value) {
                color: $clrSecondary;
                font: {
                    family: $ffText;
                    size: 1.25rem;
                }
                text: {
                    align: $align-value;
                    shadow: 2px 2px 3px #000000, 2px 2px 3px #000000;
                }
                line: {
                    height: 1.75;
                }
            }

            //Section 3 slide 1
            #slide-3-1 {
                @include slide-3('../images/corpo-images/background-lines.png');

                .corpo-wrapper {
                    @include corpo-wrapper(row);
    
                    #corpo-video1 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .corpo-text-wrapper {
                        @include corpo-text-wrapper(0, 0, 0, 80px);
    
                        #corpo-title1 {
                            @include corpo-title(#f229d7, end);
    
                            #corpo-image1 {
                                @include corpo-image(0, 20px);
                            }
                        }
    
                        #corpo-text1 {
                            @include corpo-text(end);
                        }
                    }
                }
            }

            //Section 3 slide 2
            #slide-3-2 {
                @include slide-3('../images/corpo-images/background-lines-reversed.png');

                .corpo-wrapper {
                    @include corpo-wrapper(row);
    
                    #corpo-video2 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .corpo-text-wrapper {
                        @include corpo-text-wrapper(0, 80px, 0, 0);
    
                        #corpo-title2 {
                            @include corpo-title(#ff8f2e, start);
    
                            #corpo-image2 {
                                @include corpo-image(20px, 0);
                            }
                        }
    
                        #corpo-text2 {
                            @include corpo-text(start);
                        }
                    }
                }
            }

            //Section 3 slide 3
            #slide-3-3 {
                @include slide-3('../images/corpo-images/background-lines.png');

                .corpo-wrapper {
                    @include corpo-wrapper(row);
    
                    #corpo-video3 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .corpo-text-wrapper {
                        @include corpo-text-wrapper(0, 0, 0, 80px);
    
                        #corpo-title3 {
                            @include corpo-title(#9177c1, end);
    
                            #corpo-image3 {
                                @include corpo-image(0, 20px);
                            }
                        }
    
                        #corpo-text3 {
                            @include corpo-text(end);
                        }
                    }
                }
            }

            #slide-3-4 {
                @include slide-3('../images/corpo-images/background-lines-reversed.png');

                .corpo-wrapper {
                    @include corpo-wrapper(row-reverse);
    
                    #corpo-video4 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .corpo-text-wrapper {
                        @include corpo-text-wrapper(0, 80px, 0, 0);
    
                        #corpo-title4 {
                            @include corpo-title(#fafafa, start);
    
                            #corpo-image4 {
                                @include corpo-image(20px, 0);
                            }
                        }
    
                        #corpo-text4 {
                            @include corpo-text(start);
                        }
                    }
                }
            }
        }

        //Section 4
        #section4 {
            @mixin yt-slide($bg-url) {
                background: {
                    image: url($bg-url);
                    position: center;
                    size: cover;
                    repeat: no-repeat;
                }

                .yt-wrapper {
                    @include section-wrapper(column);
    
                    .yt-title {
                        width: 100%;
                        color: $clrSecondary;
                        font: {
                            family: $ffText;
                            size: 2.5rem;
                        }
                        text: {
                            align: center;
                            shadow: 3px 3px 4px #000000, 3px 3px 4px #000000;
                        }
                    }

                    .yt-link {
                        padding: 10px 30px;
                        color: $clrPrimary;
                        margin-top: 25px;
                        transition: all .3s ease;
                        box-shadow: 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary;
                        border: {
                            radius: 20px;
                        }
                        background: {
                            color: $clrAlternative;
                        }
                        text: {
                            decoration: none;
                            align: center;
                        }
                        font: {
                            size: 1.25rem;
                            family: $ffText;
                        }

                        &:hover {
                            color: $clrAlternative;
                            background-color: $clrPrimary;
                        }
                    }
                }
            }

            //Section 4 slide 1
            #slide-4-1 {
                @include yt-slide('../images/yt-images/yt-bg1.jpg');
            }

            //Section 4 slide 2
            #slide-4-2 {
                @include yt-slide('../images/yt-images/yt-bg2.jpg');
            }

            //Section 4 slide 3
            #slide-4-3 {
                @include yt-slide('../images/yt-images/yt-bg-final.jpg');
            }
        }

        //Section 5
        #section5 {
            .photos-image {
                position: absolute;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                object-fit: cover;
            }

            #photography-text {
                position: absolute;
                top: 62.5%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $clrSecondary;
                font: {
                    size: 2rem;
                    family: $ffText;
                }
                text: {
                    align: center;
                    shadow: 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000;
                }
            }
        }

        //Section 6
        #section6 {
            .contact-wrapper {
                @include section-wrapper(column);
                height: 80vh;

                #contact-image {
                    border: {
                        radius: 100%;
                        style: solid;
                        color: $clrAlternative;
                        width: 5px;
                    }
                }

                #contact-title {
                    margin: 35px 0;
                    color: $clrAlternative;
                    font: {
                        family: $ffHeader;
                        size: 2rem;
                    }
                    text: {
                        shadow: 0 0 1rem $clrAlternative, 0 0 1rem $clrAlternative, 2px 2px 4px #000000, 2px 2px 4px #000000, 2px 2px 4px #000000;
                    }
                }

                #contact-social-wrapper {
                    display: flex;

                    .social-svg-wrapper {
                        margin: 0 10px;
                        cursor: pointer;

                        &:hover > svg path {
                            transition: all .3s ease;
                            fill: $clrAlternative !important;
                        }
                    }
                }

                #back-top {
                    position: absolute;
                    bottom: 7.5vh;
                    right: 1.5vw;
                    cursor: pointer;

                    &:hover > a svg polygon, &:hover > a svg #rect {
                        transition: all .3s ease;
                        fill: $clrAlternative !important;
                    }
                }
            }

            .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100vw;
                height: auto;
                padding: 25px 0;
                background-color: $clrPrimary;
                outline: 1px solid $clrAlternative;

                @mixin footer-p($left-value) {
                    position: absolute;
                    top: 50%;
                    left: $left-value;
                    transform: translate(-50%, -50%);
                    color: $clrSecondary;
                    font: {
                        family: $ffText;
                    }
                }

                #footer-credits {
                    @include footer-p(10%);

                    a {
                        text-decoration: none;
                        color: $clrSecondary;

                        &:hover {
                            color: $clrAlternative;
                            transition: all .3s ease;
                        }
                    }
                }

                #footer-copy {
                    @include footer-p(50%);
                }

                #footer-address {
                    @include footer-p(90%);
                }
            }
        }
    }
}