@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Nabla&display=swap');

/* Color variables */
:root {
    --clr-primary: #1a1a1a;
    --clr-secondary: #fafafa;
    --clr-alternative: #ff8f2e;
    --clr-music-1: #fa0f0f;
    --clr-music-2: #1478cd;
}

/* FullPage.js changes */
.fp-warning,
.fp-watermark {
    display: none;
}

#fp-nav, .fp-slidesNav {
    display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: var(--clr-secondary);
}

.fp-arrow.fp-prev {
    margin-left: 100px;
    scale: .65;
    border-color: transparent var(--clr-alternative) transparent transparent;
    animation-name: slideArrow;
    animation-iteration-count: infinite;
    animation-duration: .85s;
    transition: all .3 ease;
}

.fp-arrow.fp-next {
    margin-right: 100px;
    scale: .65;
    border-color: transparent transparent transparent var(--clr-alternative);
    animation-name: slideArrow;
    animation-iteration-count: infinite;
    animation-duration: .85s;
    transition: all .3 ease;
}

@keyframes slideArrow {
    0% {
        scale: .65;
    }
    50% {
        scale: .85;
    }
    100% {
        scale: .65;
    }
}

/* HTML and Body changes */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-primary);
}

/* Preloader */

#preloader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-primary);
    z-index: 1;
    transition: opacity .5s ease;
}

#preloader-outer-img, #preloader-inner-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
}

#preloader-outer-img {
    animation-name: preloader;
    animation-duration: 1.75s;
    animation-iteration-count: 2;
}

@keyframes preloader {
    0% {
        transform: rotate(0turn) translate(-50%, -50%);
    }
    50% {
        transform: rotate(.75turn) translate(-50%, -50%);
    }
    100% {
        transform: rotate(0turn) translate(-50%, -50%);
    }
}

.preloader-finish {
    opacity: 0;
    pointer-events: none;
}

#fullpage-wrapper {
    display: none;
}

#welcome-title {
    text-align: center;
}

#welcome-title {
    width: fit-content;
    margin: auto;
    letter-spacing: 5px;
    font-size: 10rem;
    font-family: 'Nabla', cursive;
    transition: all .3s ease;
}

#welcome-title:hover {
    letter-spacing: 35px;
}

#indicator {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    width: 25px; 
    height: 43px;
    border: 2px solid var(--clr-secondary);
    border-radius: 50px;
    transition: all .5s ease;
}

#indicator:hover {
    border-color: var(--clr-alternative);
}

#indicator:before {
    content: ""; 
    position: absolute;
    width: 8px; 
    height: 8px;
    background: var(--clr-alternative); 
    margin: auto;
    left: 0; 
    right: 0;
    top: 30px; 
    border-radius: 50%;
    animation: scrollDown 1s linear infinite; 
}

@keyframes scrollDown {
    0% {
        opacity: 1; top: 8px;
    }
    100% {
        opacity: 0; top: 25px;
        transform: scale(0.8);
    }
}

#music-video1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#music-video2 {
    position: absolute;
    top: 0;
    left: 33.333%;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#music-video3 {
    position: absolute;
    top: 0;
    left: 66.666%;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#music-title1, #music-title2, #music-title3 {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 5px;
    font-family: 'Bad Script', cursive;
    opacity: .9;
}

#music-title1 {
    left: 16.66%;
    color: #dc1414;
    animation: flicker1 1.5s infinite alternate;
}

#music-title2 {
    left: 49.98%;
    color: dodgerblue;
    animation: flicker2 1.5s infinite alternate;
}

#music-title3 {
    left: 83.3%;
    color: var(--clr-alternative);
    animation: flicker3 1.5s infinite alternate;
}

@keyframes flicker1 {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
        -0.2rem -0.2rem 1rem var(--clr-music-1),
        0.2rem 0.2rem 1rem var(--clr-music-1),
        0 0 2rem var(--clr-music-1),
        0 0 4rem var(--clr-music-1),
        0 0 6rem var(--clr-music-1),
        0 0 8rem var(--clr-music-1),
        0 0 200rem var(--clr-music-1);
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes flicker2 {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
        -0.2rem -0.2rem 1rem var(--clr-music-2),
        0.2rem 0.2rem 1rem var(--clr-music-2),
        0 0 2rem var(--clr-music-2),
        0 0 4rem var(--clr-music-2),
        0 0 6rem var(--clr-music-2),
        0 0 8rem var(--clr-music-2),
        0 0 200rem var(--clr-music-2);
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes flicker3 {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
        -0.2rem -0.2rem 1rem var(--clr-alternative),
        0.2rem 0.2rem 1rem var(--clr-alternative),
        0 0 2rem var(--clr-alternative),
        0 0 4rem var(--clr-alternative),
        0 0 6rem var(--clr-alternative),
        0 0 8rem var(--clr-alternative),
        0 0 200rem var(--clr-alternative);
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}