@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Chakra+Petch&family=Poppins&display=swap');

$clrPrimary: #1a1a1a;
$clrSecondary: #fafafa;
$clrAlternative: #ff8f2e;

$ffHeader: 'Bad Script', cursive;
$ffYt: 'Poppins', sans-serif;
$ffText: 'Chakra Petch', sans-serif;

$numOfMusicPages: 3;
$pctOfMusicPages: calc(100% / $numOfMusicPages);
$numOfAdPages: 3;
$pctOfAdPages: calc(100% / $numOfAdPages);
$numOfYtPages: 3;
$pctOfYtPages: calc(100% / $numOfYtPages);

//Used to fade out preloader
.preloader-finish {
    opacity: 0;
    pointer-events: none;
}

/* FullPage.js changes */
.fp-warning,
.fp-watermark {
    display: none;
}

.fp-slidesNav.fp-bottom {
    display: flex;
    justify-content: center;
}

.fp-slidesNav ul li a span {
    background-color: $clrSecondary
}

#fp-nav ul li a span {
    background: $clrSecondary;
}

fp-arrow-extend {
    display: none;
}

.fp-arrow.fp-prev, .fp-arrow.fp-next {
    @extend fp-arrow-extend;
}

//Document and body changes

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $clrPrimary;

    //Preloader changes
    #preloader {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: $clrPrimary;
        z-index: 1;
        transition: opacity .5s ease;

        //Preloader inner image
        #preloader-inner-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: top left;
        }
    
        //Preloader outer image
        #preloader-outer-img {
            @extend #preloader-inner-img;
            animation: preloader-animation 1.75s infinite;
        }
    
        //Preloader outer image animation
        @keyframes preloader-animation {
            0% {transform: rotate(0turn) translate(-50%, -50%);}
            50% {transform: rotate(.75turn) translate(-50%, -50%);}
            100% {transform: rotate(0turn) translate(-50%, -50%);}
        }
    }

    //Main content
    #fullpage-wrapper {
        display: none;

        @mixin section-wrapper($flex-d) {
            height: 100vh;
            width: 80vw;
            margin: 0 auto;
            display: flex;
            flex-direction: $flex-d;
            justify-content: center;
            align-items: center;
        }

        //Section1 changes
        #section1 {
            //Welcome title "KokFilms"
            #welcome-title {
                width: fit-content;
                margin: auto;
                transition: all .3s ease;
                color: $clrAlternative;
                text: {
                    align: center;
                }
                font: {
                    size: 10rem;
                }
                &:hover {
                    letter-spacing: 35px;
                }
            }
    
            //Mouse scroll down wheel element
            #welcome-down-indicator {
                position: absolute;
                bottom: 7.5%;
                left: 50%;
                width: 25px; 
                height: 43px;
                transition: all .5s ease;
                border: {
                    width: 2px;
                    style: solid;
                    color: $clrSecondary;
                    radius: 50px;
                }
    
                &:before {
                    content: ""; 
                    position: absolute;
                    width: 8px; 
                    height: 8px;
                    background: $clrAlternative; 
                    margin: auto;
                    left: 0; 
                    right: 0;
                    top: 30px; 
                    border-radius: 50%;
                    animation: scrollDown 1s linear infinite;
    
                    @keyframes scrollDown {
                        0% {opacity: 1; top: 8px;}
                        100% {opacity: 0; top: 25px; transform: scale(0.8);}
                    }
                }
    
                &:hover {
                    border: {
                        color: $clrAlternative;
                    }
                }
            }
        }

        //Section2 changes
        #section2 {
            //A mixin of music videos
            @mixin music-video($left-value) {
                position: absolute;
                top: 0;
                left: $left-value;
                height: 100vh;
                width: 100vw;
                object-fit: cover;
            }

            //A mixin of music titles
            @mixin music-title($left-value, $color-value, $flicker-name) {
                position: absolute;
                width: fit-content;
                top: 50%;
                left: $left-value;
                color: $color-value;
                transform: translate(-50%, -50%);
                animation: $flicker-name 1.5s infinite alternate;
                text: {
                    align: center;
                }
                font: {
                    size: 2rem;
                }
                font: {
                    family: 'Bad Script', cursive;
                }
            }

            //A mixin of music title flicker animation
            @mixin flicker($name, $flicker-color-value) {
                @keyframes #{$name} {
                    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
                        text-shadow:
                            -0.2rem -0.2rem 1rem $flicker-color-value,
                            0.2rem 0.2rem 1rem $flicker-color-value,
                            0 0 2rem $flicker-color-value,
                            0 0 4rem $flicker-color-value,
                            0 0 6rem $flicker-color-value,
                            0 0 8rem $flicker-color-value,
                            0 0 200rem $flicker-color-value;
                    }
                    20%, 24%, 55% {        
                        text-shadow: none;
                    }   
                } 
            }

            //creation of 3 keyframes, one for each slide
            @include flicker(flicker1, #de1dc4);
            @include flicker(flicker2, #aa0707);
            @include flicker(flicker3, #1478cd);

            @mixin svg-path($clr-value) {
                    fill: $clr-value;
            }

            @mixin music-link($left-value, $clr-value) {
                position: absolute;
                top: 57.5%;
                left: $left-value;
                transform: translate(-50%, -50%);
                transition: all .5s ease;
                &:hover {
                    scale: 1.15;
                }
                &:hover > svg .music-path {
                    transition: all .75s ease;
                    @include svg-path($clr-value);
                }
            }

            //Section 2 slide 1 changes
            #slide-2-1 {
                #music-video1 {
                    @include music-video(calc($pctOfMusicPages*0));
                }
                #music-title1 {
                    @include music-title(calc(16.66%*1), #f229d7, flicker1);
                }
                #music-link1 {
                    @include music-link(calc(16.66%*1), #f229d7);
                }
            }
            
            //Section 2 slide 1 changes
            #slide-2-2 {
                #music-video2 {
                    @include music-video(calc($pctOfMusicPages*1));
                }
                #music-title2 {
                    @include music-title(calc(16.66%*3), #ff2626, flicker2);
                }
                #music-link2 {
                    @include music-link(calc(16.66%*3), #ff2626);
                }
            }

            //Section 2 slide 1 changes
            #slide-2-3 {
                #music-video3 {
                    @include music-video(calc($pctOfMusicPages*2));
                }
                #music-title3 {
                    @include music-title(calc(16.66%*5), #1e90ff, flicker3);
                }
                #music-link3 {
                    @include music-link(calc(16.66%*5), #1e90ff);
                }
            }
        }

        //Section 3
        #section3 {
            @mixin ad-bg($left-value, $scale-value) {
                position: absolute;
                top: 0;
                left: $left-value;
                background-size: contain;
                z-index: -1;
                opacity: .15;
                transform: scaleX($scale-value);
            }

            @mixin ad-image($m-left, $m-right) {
                width: auto;
                height: 65px;
                margin: {
                    left: $m-left;
                    right: $m-right;
                }
            }

            @mixin ad-text-wrapper($m-top, $m-right, $m-bottom, $m-left) {
                margin: $m-top $m-right $m-bottom $m-left;
            }

            @mixin ad-title($clr-value, $align-value) {
                color: $clr-value;
                margin: 0 0 20px 0;
                font: {
                    family: $ffHeader;
                    size: 4rem;
                }
                text: {
                    align: $align-value;
                    shadow: 1px 1px 10px $clr-value;
                }
            }

            @mixin ad-text($align-value) {
                color: $clrSecondary;
                font: {
                    family: $ffText;
                    size: 1.25rem;
                }
                text: {
                    align: $align-value;
                    shadow: 2px 2px 4px $clrPrimary;
                }
                line: {
                    height: 1.75;
                }
            }

            //Section 3 slide 1
            #slide-3-1 {
                .ad-bg {
                    @include ad-bg($pctOfAdPages*0, -1);
                }

                .ad-wrapper {
                    @include section-wrapper(row);
    
                    #ad-video1 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .ad-text-wrapper {
                        @include ad-text-wrapper(0, 0, 0, 80px);
    
                        #ad-title1 {
                            @include ad-title(#f229d7, end);
    
                            #ad-image1 {
                                @include ad-image(0, 20px);
                            }
                        }
    
                        #ad-text1 {
                            @include ad-text(end);
                        }
                    }
                }
            }

            //Section 3 slide 2
            #slide-3-2 {
                .ad-bg {
                    @include ad-bg($pctOfAdPages*1, 1);
                }

                .ad-wrapper {
                    @include section-wrapper(row);
    
                    #ad-video2 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .ad-text-wrapper {
                        @include ad-text-wrapper(0, 80px, 0, 0);
    
                        #ad-title2 {
                            @include ad-title(#ff8f2e, start);
    
                            #ad-image2 {
                                @include ad-image(20px, 0);
                            }
                        }
    
                        #ad-text2 {
                            @include ad-text(start);
                        }
                    }
                }
            }

            //Section 3 slide 3
            #slide-3-3 {
                .ad-bg {
                    @include ad-bg($pctOfAdPages*2, -1);
                }

                .ad-wrapper {
                    @include section-wrapper(row);
    
                    #ad-video3 {
                        height: fit-content;
                        border-radius: 20px;
                    }
    
                    .ad-text-wrapper {
                        @include ad-text-wrapper(0, 0, 0, 80px);
    
                        #ad-title3 {
                            @include ad-title(#966018, end);
    
                            #ad-image3 {
                                @include ad-image(0, 20px);
                            }
                        }
    
                        #ad-text3 {
                            @include ad-text(end);
                        }
                    }
                }
            }
        }

        //Section 4
        #section4 {
            @mixin yt-bg($left-value) {
                height: 100vh;
                width: 100vw;
                position: absolute;
                top: 0;
                left: $left-value;
                z-index: -1;
            }

            //Section 4 Slide 1 & 2
            .yt-slide {
                height: 100vh;
                #yt-bg1 {
                    @include yt-bg($pctOfYtPages*0);
                }

                #yt-bg2 {
                    @include yt-bg($pctOfYtPages*1);
                }

                .yt-wrapper {
                    @include section-wrapper(column);
    
                    .yt-title {
                        width: 100%;
                        color: $clrSecondary;
                        font: {
                            family: $ffYt;
                            size: 2.5rem;
                        }
                        text: {
                            align: center;
                            shadow: 3px 3px 4px $clrPrimary, 3px 3px 4px $clrPrimary;
                        }
                    }

                    .yt-link {
                        padding: 10px 30px;
                        color: $clrPrimary;
                        margin-top: 25px;
                        transition: all .3s ease;
                        box-shadow: 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary, 1px 1px 4px $clrPrimary;
                        border: {
                            radius: 20px;
                        }
                        background: {
                            color: $clrAlternative;
                        }
                        text: {
                            decoration: none;
                            align: center;
                        }
                        font: {
                            size: 1.25rem;
                            family: $ffYt;
                        }

                        &:hover {
                            color: $clrAlternative;
                            background-color: $clrPrimary;
                        }
                    }
                }
            }

            #slide-4-3 {
                background: {
                    image: url('../images/yt-images/yt-bg-final.jpg');
                    size: cover;
                    position: center;
                }
            }
        }
    }
}