@use '../../abstracts/colors' as clr;

.fp-warning, .fp-watermark {
    display: none;
}

.fp-slidesNav.fp-bottom {
    display: flex;
    justify-content: center;
}

.fp-slidesNav ul li a span {
    background-color: clr.$clrSecondary;
    &:hover {
        transition: all .3s ease;
        background-color: clr.$clrAlternative !important;
    }
}

#fp-nav ul li a span {
    background: clr.$clrSecondary;
    &:hover {
        transition: all .3s ease;
        background: clr.$clrAlternative !important;
    }
}

fp-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url('../../images/slide-arrow.svg');
    &:hover {
        background: url('../../images/slide-arrow-hover.svg');
    }
}

.fp-arrow.fp-prev {
    left: 10vw;
    @extend fp-arrow;
}

.fp-arrow.fp-next {
    right: 10vw;
    @extend fp-arrow;
    transform: translate(-50%, -50%) scaleX(-1);
}