@use '../abstracts/colors' as clr;
@use '../abstracts/fonts' as ff;

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Chakra+Petch&display=swap');
@import url('https://fonts.cdnfonts.com/css/a-dripping-marker');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: clr.$clrPrimary;

    @import '../style/preloader/preloader';
    @import '../style/fullpage/fullpageChanges';

    @import './nav/nav';

    #fullpage-wrapper {
        display: none;

        @import '../style/sections/section1/section1';
        @import '../style/sections/section2/section2';
        @import '../style/sections/section3/section3';
        @import '../style/sections/section4/section4';
        @import '../style/sections/section5/section5';
        @import '../style/sections/section6/section6';
    }
}