#section3 #slide-3-1 {
  background-image: url("../../images/corpoImages/background-lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 #slide-3-1 .corpo-wrapper {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section3 #slide-3-1 .corpo-wrapper #corpo-video1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35vw;
  border-radius: 20px;
}
#section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper {
  margin: 0 0 0 2vw;
}
#section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper #corpo-title1 {
  color: #ff8f2e;
  margin: 0 0 1vh 0;
  font-family: "Bad Script", cursive;
  font-size: 4vw;
  text-align: end;
  text-shadow: 1px 1px 10px #ff8f2e;
}
#section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper #corpo-title1 #corpo-image1 {
  width: 3.5vw !important;
  height: auto;
}
#section3 #slide-3-1 .corpo-wrapper .corpo-text-wrapper #corpo-text1 {
  color: #fafafa;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1vw;
  text-align: end;
  text-shadow: 2px 2px 4px #000000, 2px 2px 4px #000000;
  line-height: 1.75;
}
#section3 #slide-3-2 {
  background-image: url("../../images/corpoImages/background-lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 #slide-3-2 .corpo-wrapper {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#section3 #slide-3-2 .corpo-wrapper #corpo-video2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35vw;
  border-radius: 20px;
}
#section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper {
  margin: 0 2vw 0 0;
}
#section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper #corpo-title2 {
  color: #ff8f2e;
  margin: 0 0 1vh 0;
  font-family: "Bad Script", cursive;
  font-size: 4vw;
  text-align: start;
  text-shadow: 1px 1px 10px #ff8f2e;
}
#section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper #corpo-title2 #corpo-image2 {
  width: 3.5vw !important;
  height: auto;
}
#section3 #slide-3-2 .corpo-wrapper .corpo-text-wrapper #corpo-text2 {
  color: #fafafa;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1vw;
  text-align: start;
  text-shadow: 2px 2px 4px #000000, 2px 2px 4px #000000;
  line-height: 1.75;
}
#section3 #slide-3-3 {
  background-image: url("../../images/corpoImages/background-lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 #slide-3-3 .corpo-wrapper {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section3 #slide-3-3 .corpo-wrapper #corpo-video3 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35vw;
  border-radius: 20px;
}
#section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper {
  margin: 0 0 0 2vw;
}
#section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper #corpo-title3 {
  color: #ff8f2e;
  margin: 0 0 1vh 0;
  font-family: "Bad Script", cursive;
  font-size: 4vw;
  text-align: end;
  text-shadow: 1px 1px 10px #ff8f2e;
}
#section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper #corpo-title3 #corpo-image3 {
  width: 3.5vw !important;
  height: auto;
}
#section3 #slide-3-3 .corpo-wrapper .corpo-text-wrapper #corpo-text3 {
  color: #fafafa;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1vw;
  text-align: end;
  text-shadow: 2px 2px 4px #000000, 2px 2px 4px #000000;
  line-height: 1.75;
}
#section3 #slide-3-4 {
  background-image: url("../../images/corpoImages/background-lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 #slide-3-4 .corpo-wrapper {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#section3 #slide-3-4 .corpo-wrapper #corpo-video4 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35vw;
  border-radius: 20px;
}
#section3 #slide-3-4 .corpo-wrapper .corpo-text-wrapper {
  margin: 0 2vw 0 0;
}
#section3 #slide-3-4 .corpo-wrapper .corpo-text-wrapper #corpo-title4 {
  color: #ff8f2e;
  margin: 0 0 1vh 0;
  font-family: "Bad Script", cursive;
  font-size: 4vw;
  text-align: start;
  text-shadow: 1px 1px 10px #ff8f2e;
}
#section3 #slide-3-4 .corpo-wrapper .corpo-text-wrapper #corpo-title4 #corpo-image4 {
  width: 3.5vw !important;
  height: auto;
}
#section3 #slide-3-4 .corpo-wrapper .corpo-text-wrapper #corpo-text4 {
  color: #fafafa;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1vw;
  text-align: start;
  text-shadow: 2px 2px 4px #000000, 2px 2px 4px #000000;
  line-height: 1.75;
}/*# sourceMappingURL=section3.css.map */