@use './nav/navMedia' as nav;
@use './body/bodyMedia' as bd;

// Fullpage slide arrow display, Nav font size,
// Welcome header font size, Welcome paragraph font size,
// Music title font size, Music link width, Music link height, 
// Corpo video width, Corpo header font size, Corpo svg width, Corpo text font size, 
// YT header font size, YT link font size, 
// Contact img size, Contact title size, Contact svg width, Contact svg height

@media screen and (max-width:1600px) {
    body {
        @include bd.body(
            block, 1vw, 
            12.5vw, 1.5vw,
            1rem, 64px, 44px, 
            37.5vw !important, 3.5rem, 4vw, 1.25rem, 
            2rem, 1.25rem, 
            125px, 2.5vw, 56px, 56px
        );
    }
}

@media screen and (max-width:1200px) {
    body {
        @include bd.body(
            block, 1.25vw, 
            12.5vw, 2vw,
            1rem, 64px, 44px, 
            40vw !important, 3rem, 4.5vw, 1.1rem, 
            1.75rem, 1rem, 
            75px, 3.75vw, 42px, 42px
        );
    }
}

@media screen and (max-width:767px) {
    body {
        @include bd.body(
            none, 1rem, 
            15vw, 2.75vw,
            1rem, 48px, 33px, 
            47.5vw !important, 2rem, 6.5vw, 1rem, 
            1.5rem, 1rem, 
            75px, 5vw, 42px, 42px
        );
    }
}

@media screen and (max-width:400px) {
    body {
        @include bd.body(
            none, 1rem, 
            17.5vw, 3vw,
            1rem, 48px, 33px, 
            55vw !important, 1.5rem, 8vw, .9rem, 
            1.25rem, 1rem, 
            75px, 6.5vw, 42px, 42px
        );
    }
}

//Media for Portrait
@media screen and (orientation: portrait) {
    body {
        @include nav.nav();

        #fullpage-wrapper {
            #section5 {
                img {content: url('../../images/photos/photography-portrait.jpg');}
            }
        }
    }
}

//Media for Mobile Landscape
@media screen and (orientation: landscape) and (max-height: 550px) {
    body {
        @include nav.nav();

        #fullpage-wrapper {
            #section3 {
                .slide {
                    .corpo-wrapper {
                        .corpo-text-wrapper {
                            .corpo-title {
                                display: none;
                            }

                            .corpo-text {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}